html, body {
  height: 100%;
}

#chat-ui {
  position: absolute;
  margin: 10px;
  height: 100%;
  width: 30%;
  overflow-y: scroll;
}
/* #waltre {
  position: fixed;
  margin: 16px;
  width: 20%;
  bottom: 0px;
} */

#chat-input {
  position: sticky;
  margin-bottom: 0px;
  bottom: 0px;
}
