html, body {
  height: 100%;
  overflow: hidden;
}

.chat-w {
  border-color: #d4a87b;
  background-color: #faf4eb;
}

.chat-u {
  border-color: #2966a3;
  background-color: #f5faff;
}

.well {
  border-radius: 8px;
  border-width: 2px;
}

.chat-ui {
  position: absolute;
  width: 30%;
  padding: 10px;
  overflow-y: hidden;
}

.input-group * {
  border-radius: 8px;
}
#waltre {
  position: fixed;
  margin: 16px;
  width: 20%;
  bottom: 0px;
}
/*
#chat-input {
  position: sticky;
  margin-bottom: 0px;
  bottom: 0px;
} */
