html, body {
  height: 100%;
  overflow: hidden;
}

.chat-ui {
  position: absolute;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  bottom: 40px;
}

.chat-input * {
  border-radius: 8px;
  border-color: #474747;
}

.msg {
  background-color: #FFFFFF;
  display: inline-block;
  padding: 6px;
  margin-bottom: 1px;
  border-radius: 8px;
  /* border-color: #CFCFCF; */
  border-color: #474747;
  border-width: 1px;
  border-style: solid;
}

.msg-waltre {
    color: #bf9a64;
}

.msg-user {
  color: #5dab57;
  float: right;
}

.switch {
  margin-top: 10px;
}

.chat-input {
  display: inline-block;
  margin-top: 10px;
}

.glyphicon {
  color: #474747;
}
